@import 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

html, body {
    width: 100%;
    min-height: 100vh;
    background-color: $white;
    display: flex;
    flex-direction: column;
}

header.banner {
    background-image: url('https://ramengo-images-api.vercel.app/icons/banner/background_main.png');
    background-size: cover;
    width: 1366px;
    height: 768px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.banner_logo {
    width: 124.69px;
    height: 15.67px; 
    margin-top: 40px;
    margin-left: 40px;
}

.banner_delivery_girl {
    position: absolute;
    width: 673px;
    height: 683px;
    top: 38px;
    left: 425px;
}

.banner_japanese {
    position: absolute;
    width: 48px;
    height: 224px;
    top: 156px;
    left: 264px;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: $yellow;
}

.banner_go {
    position: absolute;
    width: 308px;
    height: 100px;
    top: 280px;
    left: 320px;
    font-size: 160px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    color: $white;
}

.banner_description {
    position: absolute;
    width: 201px;
    height: 124px;
    top: 404px;
    left: 273px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: $white;
}

.banner_button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 213px;
    height: 60px;
    top: 552px;
    left: 273px;
    background-color: $blue;
    color: $white;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;

    span.arrow {
        margin-left: 16px;
        font-weight: 800;
        color: $yellow;
    }
}

main {
    align-items: center;
    text-align: center;

    div {
        padding-top: 47px;
        justify-content: center;

        .item_img  {
            width: 104px;
            margin-top: 48px;
        }

        h3 {
            color: $blue;
            padding-top: 14px;
            font-size: 20px;
            font-weight: 900;
        }

        .item_description {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 14px;
            max-width: 252px;
            text-align: center;
            margin: 0 32px;
        }

        .price {
            color: $red;
            margin-top: auto;
            margin-bottom: 32px;
            font-size: 20px;
            font-weight: 900;
        }

        :nth-child(2) {
            margin-left: 64px;
            margin-right: 64px;
        }
    }

    h2 {
        margin-top: 100px;
        font-size: 32px;
        font-weight: 900;
        margin-bottom: 4px;
    }

    .paragraph_body {
        font-size: 16px;
    }
}


.item-container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    box-shadow: 0px 4px 12px 0px #E0DBBF99;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    cursor: pointer;

    &.selected {
        background-color: $blue;
        color: $white;

        h3 {
            color: $white;
        }

        .price {
            color: $yellow;
        }
    }
}

button, a {
    line-height: 20.79px;
    letter-spacing: 1.78px;
    display: flex;
    padding: 10px 20px;
    width: 213px;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 800;
    font-size: 14px;
    border: none;
    align-items: center;
}

.order {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        color: $white;
        background-color: $gray;
        margin-bottom: -30px;
    }

    :hover {
        background-color: $blue;
        color: $white;
        
        span {
            color: $yellow;
        }
    }
}

.arrow {
    display: block;
    margin-left: auto;
}

#order-result {
    margin-top: 32px;
    text-align: center;
    color: $red;
    font-size: 24px;
    font-weight: 800;
}

@media (max-width: 600px) {
    header.banner {
        background-size: 80%;
        width: 360px;
        height: 677px;

    }

    .banner_logo {
        margin-top: 0;
        margin-left: 0;
        width: 125px;
        margin-top: 20px;
        margin-left: 127px;
    }

    .banner_delivery_girl {
        width: 265.06px;
        height: 269px;
        top: 60px;
        left: 48px;
        position: absolute;
    }

    .banner_japanese {
        width: 219px;
        height: 54px;
        top: 341px;
        left: 70px;
        position: absolute;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        writing-mode: horizontal-tb;
    }

    .banner_go {
        width: 231px;
        height: 100px;
        top: 406px;
        left: 64px;
        position: absolute;
        font-size: 120px;
        line-height: 100px;
    }

    .banner_description {
        width: 300px;
        height: 81px;
        top: 530px;
        left: 30px;
        position: absolute;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
    }

    .banner_button {
        display: none;
    }

    main {
        h2 {
            font-size: 24px;
            line-height: 31px;
            margin-top: 0px;
        }

        .paragraph_body {
            margin-top: 16px;
        }
    }
}